body{
  background:#02111f;
  color:white;
  text-align:center;
}

.pitch{
  width:90%;
  height:600px;
  background:green;
  margin:auto;
  border-radius:20px;
  padding:20px;
}

.player{
  background:white;
  color:black;
  width:120px;
  padding:10px;
  margin:20px auto;
  border-radius:12px;
}
