:root {
  --bg: #0b0f19;
  --card: #121826;
  --accent: #00e5ff;
  --accent2: #00ff9d;
  --text: #ffffff;
  --muted: #9ca3af;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background: var(--bg);
  color: white;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(16px);
  background: rgba(0,0,0,0.4);
}

.logo {
  color: var(--accent);
  font-size: 1.4rem;
  font-weight: 700;
}

#searchInput {
  width: 300px;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: rgba(255,255,255,0.1);
  color: white;
}

#hero {
  height: 85vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  padding: 50px;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

.hero-content p {
  line-height: 1.6;
  color: #ddd;
}

.hero-content button {
  margin-top: 20px;
  padding: 14px 24px;
  border: none;
  border-radius: 12px;
  background: var(--accent);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

section {
  padding: 20px;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  margin-top: 20px;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 220px;
  transition: 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.06);
}

.movie-card img {
  width: 100%;
  border-radius: 16px;
}

@media(max-width:768px) {

  .hero-content h1 {
    font-size: 2rem;
  }

  #searchInput {
    width: 160px;
  }

}
